.table {
  width: 100%;
  text-align: left;
  border: 1px solid #0070f3;
}
.table th {
  background-color: #0070f3;
}

.editor {
  box-shadow: 0 8px 8px 2px lightgrey;
  margin-bottom: 30px;
}

.list {
  padding-left: 0;
  list-style-position: inside;
}

.button {
  margin: 10px 0;
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  background-color: salmon;
  cursor: pointer;
}
